<ion-modal-view>
  <ion-header-bar class="bar-royal">
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()"><i class="ion-close-round"></i></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()" name="myForm">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username" name="login" required my-validation>
        </label>
        <span style="color:red" ng-show="myForm.login.$dirty && myForm.login.$invalid">
            <span ng-show="myForm.login.$error.required">Username is required.</span>
        </span>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password" name="password" required my-validation>
        </label>
        <span style="color:red" ng-show="myForm.password.$dirty && myForm.password.$invalid">
            <span ng-show="myForm.password.$error.required">Password is required.</span>
        </span>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
